<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Company Menu</title>
</head>
<body>
<div th:replace = "common/companyHeader.html"></div>
<h2>Company Menu</h2>
    <label>회사 번호 : </label>
    <input type="number" name="companyId">
    <input type="submit" value="확인"><br>
    <button onclick="location.href='/recruitment/create'">채용공고 등록하기</button>
    <button onclick="location.href='/recruitment/update'">채용공고 수정하기</button>
    <button onclick="location.href='/recruitment/delete'">채용공고 삭제하기</button>
</body>
</html>