<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<label>회사 번호로 검색 : </label>
<input type="number" name="companyId">
<input type="submit" value="확인"><br><br>

<label>채용 포지션으로 검색 : </label>
<input type="text" name="position">
<input type="submit" value="확인"><br><br>

<label>국가로 검색 : </label>
<input type="text" name="nation">
<input type="submit" value="확인"><br><br>

<label>지역으로 검색 : </label>
<input type="text" name="region">
<input type="submit" value="확인"><br><br>

<label>채용보상금으로 검색 : </label>
<input type="number" name="reward">
<input type="submit" value="확인"><br><br>
</body>
</html>